/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: kanit;
	font-size: 16px;

}

header {
  text-align: center;

  h1 {
    font-size: 30px;
    font-weight: 500;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
  }
  
}


main#weatherforecast {
  display: grid;
  grid-template-columns: 1fr;

  div {
  border-radius: 1px solid black;
    margin: 10rem;
  }

}














// /*----- Clearfix: Force an Element not to collapse -----*/
// .clearfix:after {
//   content: "";
//   display: table;
//   clear: both;
// }