/*
Error: Undefined variable: "$fontFamily".
        on line 9 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/_small.scss
        from line 3 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss

4: 
5: @media only screen and (min-width: 35rem) {
6:     @import "medium";
7: } /* end of media query *\/
8: 
9: @media only screen and (min-width: 64rem) {
10:     @import "large";
11: } /* end of media query *\/

Backtrace:
/media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/_small.scss:9
/media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss:3
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/script/tree/node.rb:50:in `perform'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `map'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block (2 levels) in visit_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `map'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:329:in `block in visit_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `block in with_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:88:in `with_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:20:in `render'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/home/prometheus/Downloads/usr/share/koala/bin/sass:22:in `load'
/home/prometheus/Downloads/usr/share/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$fontFamily\".\A         on line 9 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/_small.scss\A         from line 3 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss\A \A 4: \A 5: @media only screen and (min-width: 35rem) {\A 6:     @import \"medium\";\A 7: } /* end of media query */\A 8: \A 9: @media only screen and (min-width: 64rem) {\A 10:     @import \"large\";\A 11: } /* end of media query */"; }
