/*
Error: File to import not found or unreadable: variables.
       Load path: /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss
        on line 3 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss

1: @import "reset";
2: 
3: @import "variables";
4: 
5: @import "small";
6: 
7: @media only screen and (min-width: 35rem) {
8:     @import "medium";

Backtrace:
/media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss:3
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:44:in `import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:314:in `visit_import'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `block in with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:135:in `with_frame'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/stack.rb:79:in `with_base'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:162:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `map'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:161:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/tree/root_node.rb:20:in `render'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/engine.rb:290:in `render'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:400:in `run'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/sass_scss.rb:63:in `process_result'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:52:in `parse'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/lib/sass/exec/base.rb:19:in `parse!'
/home/prometheus/Downloads/usr/share/koala/rubygems/gems/sass-3.5.2/bin/sass:13:in `<top (required)>'
/home/prometheus/Downloads/usr/share/koala/bin/sass:22:in `load'
/home/prometheus/Downloads/usr/share/koala/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: variables.\A        Load path: /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss\A         on line 3 of /media/prometheus/SSD_1_980 PRO/Users/HD/Desktop/Spring 2022/Code_Paul Cheney/projects/13-Weather Application/scss/style.scss\A \A 1: @import \"reset\";\A 2: \A 3: @import \"variables\";\A 4: \A 5: @import \"small\";\A 6: \A 7: @media only screen and (min-width: 35rem) {\A 8:     @import \"medium\";"; }
