section#weatherforecast {
  display: grid;
  grid-template-columns: 1fr;
}
















/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }